<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Đăng ký thành viên</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/register.css}">

<script type="text/javascript" th:src="@{/js/register.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
	integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="https://kit.fontawesome.com/c39bd3b109.js"
	crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
	rel="stylesheet">
</head>
<body>
	<div class="body-content">
		<div class="register-form-container">
			<h1>Đăng ký thành viên</h1>

			<form th:action="@{/register-page}" method="post">
				<div class="form-inputs">
					<div class="input-container">
						<div class="input-container-item">
							<input type="text" name="" id="" placeholder="Tên">
						</div>

						<div class="input-container-item">
							<input type="text" name="" id="" placeholder="Họ">
						</div>
					</div>

					<div class="input-container">
						<div class="input-container-item">
							<input type="text" name="" id="" placeholder="Số điện thoại">
						</div>

						<div class="input-container-item">
							<input type="email" name="" id="" placeholder="Email">
						</div>
					</div>

					<div class="input-container">
						<div class="input-container-item">
							<input type="password" name="" id="" placeholder="Mật khẩu"
								class="password-input">
						</div>
						<div class="eye-icon">
							<i class="fa-solid fa-eye"></i>
						</div>

						<div class="input-container-item">
							<input type="password" name="" id=""
								placeholder="Xác nhận mật khẩu" class="password-input">

						</div>
						<div class="eye-icon">
							<i class="fa-solid fa-eye"></i>
						</div>
					</div>
				</div>
			</form>

			<div class="register-btns">
				<button type="submit" class="sign-up-btn">Đăng Ký</button>
				<button type="submit" class="google-sign-up-btn">
					<i class="fa-brands fa-google"></i> Đăng Ký Bằng Gmail
				</button>
				<button type="submit" class="facebook-sign-up-btn">
					<i class="fa-brands fa-facebook"></i> Đăng Ký Bằng Facebook
				</button>
			</div>
			<div class="sign-in">
				<p>
					Bạn đã có tài khoản? <a href="">Đăng nhập</a>
				</p>
			</div>

		</div>

		<div class="banner-container"></div>
	</div>

</body>
</html>