<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" lang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <!-- css -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/welcome-page.css}" />
	
<!-- 	<link th:href="@{/css/format.css}" th:with="img=${img}"> -->
	
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
<!--     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        
    <title>Trang chủ</title>
</head>

<body>
    <form th:action="@{/welcome-page}" method="post">
        <div>
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <div class="topbar-left">
                            <ul>
                                <li class="me-auto p-2">
                                    <span><i class="fa-solid fa-phone-volume"></i>Hotline: 19009191</span>
                                </li>
                            </ul>
                        </div>
                        <div class="topbar-right">
                            <ul class="d-flex">
                                <li class="p-2">
                                    <span><a href="#">Tra cứu đơn hàng</a></span>
                                </li>
                                <li class="p-2">
                                    <span><a href="#"><i class="fa-solid fa-user"></i>Sign in</a></span>
                                </li>
                                <li class="p-2">
                                    <span><a href="#"><i class="fa-solid fa-cart-shopping"></i>Giỏ hàng</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">LOGO</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                    aria-expanded="false">GIÀY</a>
                                <ul class="dropdown-menu dropdown-menu-start">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">action</a></li>
                                    <li><a class="dropdown-item" href="#">Something</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                    aria-expanded="false">DÉP</a>
                                <ul class="dropdown-menu dropdown-menu-start">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">action</a></li>
                                    <li><a class="dropdown-item" href="#">Something</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                    aria-expanded="false">QUẦN/ÁO</a>
                                <ul class="dropdown-menu dropdown-menu-start">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">actio n</a></li>
                                    <li><a class="dropdown-item" href="#">Something</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                    aria-expanded="false">BALO/TÚI XÁCH</a>
                                <ul class="dropdown-menu dropdown-menu-start">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">action</a></li>
                                    <li><a class="dropdown-item" href="#">Something</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                    aria-expanded="false">NÓN</a>
                                <ul class="dropdown-menu dropdown-menu-start">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">action</a></li>
                                    <li><a class="dropdown-item" href="#">Something</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                    aria-expanded="false">PHỤ KIỆN</a>
                                <ul class="dropdown-menu dropdown-menu-start">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">action</a></li>
                                    <li><a class="dropdown-item" href="#">Something</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                    aria-expanded="false">SALE</a>
                                <ul class="dropdown-menu dropdown-menu-start">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">action</a></li>
                                    <li><a class="dropdown-item" href="#">Something</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">TIN TỨC</a>
                            </li>
                        </ul>
                        <th:form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button type="button" class="btn btn-secondary"><i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                        </th:form>
                    </div>
                </div>
            </div>
            <main>
                <div class="one-banner">
                    <img src="/image/wallpaper/slider_1.webp" alt="">
                    <a href="#"><button type="button">XEM NGAY</button></a>
                </div>
                <div class="article-product">

                    <section class="brands">
                        <h3>BRAND</h3>
                        <a href="#" class="prev-btn-brand"><i class="fa-solid fa-chevron-left"></i></a>
                        <a href="#" class="next-btn-brand"><i class="fa-solid fa-chevron-right"></i></a>
                        <div class="row justify-content-between">
                            <div class="col"><a href="#"><img src="/image/logo-brand/cdnlogo.com_adidas.svg" alt=""></a>
                            </div>
                            <div class="col"><a href="#"><img src="/image/logo-brand/Nike.png" alt=""></a></div>
                            <div class="col"><a href="#"><img src="/image/logo-brand/Jordan.png" alt=""></a></div>
                            <div class="col"><a href="#"><img src="/image/logo-brand/FILA.png" alt=""></a></div>
                            <div class="col"><a href="#"><img src="/image/logo-brand/Puma.png" alt=""></a></div>
                            <div class="col"><a href="#"><img src="/image/logo-brand/Converse.png" alt=""></a></div>
                            <div class="col"><a href="#"><img src="/image/logo-brand/Reebok.png" alt=""></a></div>
                        </div>
                    </section>

                    <section class="new-arrival">
                        <div class="d-flex justify-content-between">
                            <h3 class="p-2">Sản phẩm mới</h3>
                            <span class="p-2 view-all"><a href="#">Xem thêm</a></span>
                        </div>
                        <a href="#" class="prev-btn"><i class="fa-solid fa-chevron-left"></i></a>
                        <a href="#" class="next-btn"><i class="fa-solid fa-chevron-right"></i></a>
                        <div class="content-new-arrival">
                            <div class="row justify-content-between row-cols-4">
                                <div class="col">
                                    <div>
                                        <img src="/image/sample-sneaker/adidas/Adidas-Originals-Yeezy-Quantum---Hi-Res-Coral-HP6595---10-14-22---Feature--DV-2.webp"
                                            alt="">
                                        <div class="name-brand">ADIDAS</div>
                                        <div class="name-prod">ADIDAS ORIGINALS YEEZY QUANTUM - HI-RES CORAL</div>
                                        <div class="price-prod">6.262.000₫</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <img src="/image/sample-sneaker/nike/Nike-Blazer-Low-_77-Vintage---White-Grey-Fog-Light-Menta-Sail-DA6364-109----12-11-22---Feature--JM-4.webp"
                                            alt="">
                                        <div class="name-brand">NIKE</div>
                                        <div class="name-prod">NIKE BLAZER LOW '77 VINTAGE - WHITE/GREY
                                            FOG/LIGHT
                                            MENTA/SAIL</div>
                                        <div class="price-prod">2.168.000₫</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <img src="/image/sample-sneaker/puma/Puma-Women_s-Slipstream-Lo-Stitched-Up---White-Marshmallow-386576-01-11-20-22-Feature-JM-2.webp"
                                            alt="">
                                        <div class="name-brand">PUMA</div>
                                        <div class="name-prod">PUMA WOMEN'S SLIPSTREAM LO STITCHED UP -
                                            WHITE/MARSHMALLOW</div>
                                        <div class="price-prod">2.168.000₫</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <img src="/image/sample-sneaker/vans/vans-vault-og-old-skool-lx-blacktrue-white-2.webp"
                                            alt="">
                                        <div class="name-brand">VANS VAULT</div>
                                        <div class="name-prod">VANS VAULT OG OLD SKOOL LX - BLACK/TRUE WHITE
                                        </div>
                                        <div class="price-prod">2.168.000₫</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="two-banner">
                        <div class="d-flex">
                            <div class="p-2 content-two-banner">
                                <img src="/image/model/pexels-photo-15031644-men.webp" alt="">
                                <div>
                                    <p>NAM</p>
                                    <a href="#">XEM NGAY<i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="p-2 content-two-banner">
                                <img src="/image/model/pexels-photo-5661306-women.jpeg" alt="">
                                <div>
                                    <p>NỮ</p>
                                    <a href="#">XEM NGAY<i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="p-2 content-two-banner">
                                <img src="/image/model/kids-well-desktop_fd807b8f-87ba-43cd-8e38-711dd33179e4.webp"
                                    alt="">
                                <div>
                                    <p>TRẺ EM</p>
                                    <a href="#">XEM NGAY<i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="product-highlight">
                        <div class="d-flex justify-content-between">
                            <h3 class="p-2">Sản phẩm nổi bật</h3>
                            <span class="p-2 view-all"><a href="#">Xem thêm</a></span>
                        </div>
                        <a href="#" class="prev-btn"><i class="fa-solid fa-chevron-left"></i></a>
                        <a href="#" class="next-btn"><i class="fa-solid fa-chevron-right"></i></a>
                        <div class="content-product-highlight">
                            <div class="row justify-content-between row-cols-4">
                                <div class="col">
                                    <div>
                                        <img src="/image/sample-sneaker/adidas/Adidas-Originals-Yeezy-Quantum---Hi-Res-Coral-HP6595---10-14-22---Feature--DV-2.webp"
                                            alt="">
                                        <div class="name-brand">ADIDAS</div>
                                        <div class="name-prod">ADIDAS ORIGINALS YEEZY QUANTUM - HI-RES CORAL</div>
                                        <div class="price-prod">6.262.000₫</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <img src="/image/sample-sneaker/nike/Nike-Blazer-Low-_77-Vintage---White-Grey-Fog-Light-Menta-Sail-DA6364-109----12-11-22---Feature--JM-4.webp"
                                            alt="">
                                        <div class="name-brand">NIKE</div>
                                        <div class="name-prod">NIKE BLAZER LOW '77 VINTAGE - WHITE/GREY
                                            FOG/LIGHT
                                            MENTA/SAIL</div>
                                        <div class="price-prod">2.168.000₫</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <img src="/image/sample-sneaker/puma/Puma-Women_s-Slipstream-Lo-Stitched-Up---White-Marshmallow-386576-01-11-20-22-Feature-JM-2.webp"
                                            alt="">
                                        <div class="name-brand">PUMA</div>
                                        <div class="name-prod">PUMA WOMEN'S SLIPSTREAM LO STITCHED UP -
                                            WHITE/MARSHMALLOW</div>
                                        <div class="price-prod">2.168.000₫</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <img src="/image/sample-sneaker/vans/vans-vault-og-old-skool-lx-blacktrue-white-2.webp"
                                            alt="">
                                        <div class="name-brand">VANS VAULT</div>
                                        <div class="name-prod">VANS VAULT OG OLD SKOOL LX - BLACK/TRUE WHITE
                                        </div>
                                        <div class="price-prod">2.168.000₫</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="product-clothing">
                    </section>

                    <section class="fashion-news">
                        <div class="d-flex justify-content-between">
                            <h3 class="p-2">Tin tức thời trang</h3>
                            <span class="p-2 view-all"><a href="#">Xem thêm</a></span>
                        </div>
                        <div class="content-fashion-news">
                            <div class="d-flex justify-content-between">
                                <div class="p-2">
                                    <img src="/image/news-fashion/blog-header-1-1200x1200.png" alt="">
                                    <div>
                                        <p>name news</p>
                                        <p>name-blogger<span>created-date</span></p>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <img src="/image/news-fashion/blog-header-twitter_-1200x1200.png" alt="">
                                    <div>
                                        <p>name news</p>
                                        <p>name-blogger<span>created-date</span></p>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <img src="/image/news-fashion/twitter-1200x1200.png" alt="">
                                    <div>
                                        <p>name news</p>
                                        <p>name-blogger<span>created-date</span></p>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <img src="/image/news-fashion/twitter-bloghero-fb-3-1200x1200.jpg" alt="">
                                    <div>
                                        <p>name news</p>
                                        <p>name-blogger<span>created-date</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
            <footer>
                <div class="footer-content">
                    <div class="d-flex justify-content-between footer-content-one">
                        <div class="p-2">
                            <h5>Về chúng tôi</h5>
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="#">Giới thiệu</a></li>
                                <li class="nav-item"><a href="#">Hệ thống của hàng</a></li>
                            </ul>
                        </div>
                        <div class="p-2">
                            <h5>Hỗ trợ khách hàng</h5>
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="#">Chính sánh khách hàng</a></li>
                                <li class="nav-item"><a href="#">Chính sách đổi trả</a></li>
                                <li class="nav-item"><a href="#">Chính sách bảo hành</a></li>
                                <li class="nav-item"><a href="#">Chính sách giao hàng</a></li>
                                <li class="nav-item"><a href="#">Chính sách bảo mật</a></li>
                                <li class="nav-item"><a href="#">Câu hỏi thường gặp</a></li>
                            </ul>
                        </div>
                        <div class="p-2">
                            <h5>Tuyển dụng</h5>
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="#">Tyển dụng</a></li>
                            </ul>
                            <a href="#"><img src="/image/iconfooter/20150827110756_dathongbao.png" alt=""></a>
                        </div>
                        <div class="p-2">
                            <h5>Địa chỉ - Liên hệ</h5>
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="#">Địa chỉ</a></li>
                            </ul>
                        </div>
                        <div class="p-2">
                            <h5>Kết nối với chúng tôi</h5>
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
                                <li class="nav-item"><a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
                                </li>
                                <li class="nav-item"><a href="#"><i class="fa-brands fa-twitter"></i>Twitter</a></li>
                                <li class="nav-item"><a href="#"><i class="fa-brands fa-tiktok"></i>Tiktok</a></li>
                                <li class="nav-item"><a href="#"><i class="fa-brands fa-youtube"></i>Youtube</a></li>

                                <li class="nav-item"><a href="#">Hotline: 19009191</a></li>
                                <li class="nav-item"><a href="#">Email: cskhABC@gmai.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between footer-content-two">
                        <div class="p-2 d-flex align-items-center">
                            <span>Copyright © 2023 ABC</span>
                        </div>
                        <div class="p-2 d-flex align-items-center">
                            <span>Thanh toán: </span>
                            <i class="fa-solid fa-money-bill"></i>
                            <i class="fa-brands fa-cc-visa"></i>
                            <i class="fa-brands fa-cc-mastercard"></i>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </form>
</body>

</html>