@charset "UTF-8";

.cart-view {
    margin: 0 6% 5%;
}

/* .cart-view>div{
    width: 100%;
} */

.my-cart table img {
    width: 15%;
    display: block;
}

table td,
table th {
    border-bottom: 0.5px solid black;
    padding: 1%;
}

table {
    width: 100%;
}

.bill tbody tr td:nth-child(1) {
    width: 90%;
}

table th,
.bill tbody tr td:nth-child(2) {
    text-align: center;
}

h5 {
    padding-top: 5%;
}

table a:hover {
    color: goldenrod !important;
}

.info-customer .row {
    padding: 1% 0 0%;
}

table tr td:nth-child(1) {
    width: 70%;
}

.my-cart tr td:not(:nth-child(1)) {
    text-align: center;
}

.product-info .d-flex>div {
    margin-left: 2%;
}

.bill {
    margin-top: 2%;
}

.btn-cart {
    margin-top: 3%;
}

.btn-cart button {
    width: 15%;
    padding: 0.5% 0;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 0 0.5%;
}

.btn-cart a {
    color: white !important;
}

.btn-cart>*:hover,
.btn-cart>*:hover a {
    background-color: white !important;
    color: black !important;
}