@charset "UTF-8";


.order-status-nav {
    border: 1px solid black;
    /* box-shadow: 0 6px 17px 0 rgba(0,0,0,0.19); */
}

.search-bar input {
    width: 90%;
    margin-top: 20px;
    padding: 5px;
}

.search-bar .search-btn {
    padding: 6px;
    border: 1px solid black;
    margin: -5px;
    width: 10%;
}

/* ----------------- orders -------------------- */

.order-item {
    box-shadow: 0 6px 17px 0 rgba(0,0,0,0.19);
    margin-top: 30px;
    padding: 20px;
}

.order-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.order-item-body {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.order-item-body .order-item-body-container {
    display: flex;
    align-items: center;
}

.order-item-body .order-item-info {
    display: flex;
    /* align-items: center; */
}

.order-item-body .order-item-info img {
    width: 10%;
    border: 1px solid #eee;
    margin-right: 20px;
}

.order-item-body .order-item-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-item-body .order-item-price {
    width: 20%;
}

.order-item-foot {
    padding-top: 10px;
}

.order-item-foot .see-more-btn {
    background-color: white;
    border: none;
    color: #ccc !important;

}

.order-item-foot .order-item-total-money {
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.order-item-foot .order-item-btns button {
    background-color: white;
    border-radius: 5px;
    padding: 3px 6px;
}

.order-item-foot .order-item-btns button:hover {
    background-color: black;
    color: white !important;
}