@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    font-weight: 600 !important;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

i {
    color: black !important;
    margin-top: 10px;
    margin-right: 0;
}

/* ------------- head --------------------- */

/* res */
.product-detail-head {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 30px;
    padding: 3% 7%;
}

/* res */
.product-detail__images .product-detail__main-img img {
    width: 100%;
}

/* res */
.product-detail__sub-img {
    display: flex;
    align-items: center;
    width: 500px;
    border: 1px solid red;
}

.product-detail__sub-img .sub-img-wrapper{
    width: 100%;
    height: 120px;
    position: relative;
    align-items: center;
    overflow: hidden;
    display: flex;
    border: 1px solid black;
}

.product-detail__sub-img .sub-img-slider {
    display: flex;
    position: relative;
    transition: transform .35s linear;
}

.product-detail__sub-img .sub-img-slider-item {
    height: 100%;
    width: 100%;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%; */
}

.product-detail__sub-img .sub-img-slider-item img {
    width: 100%;
}

/* res */
.product-detail__info .product-detail__sub-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 20px;
}

.product-detail__price {
    margin-bottom: 20px;
}

.product-detail__price .product-saled-price {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0;
}

.product-detail__price .product-old-price {
    font-size: 22px;
    color: #aaa !important;
    text-decoration: line-through;
    margin-right: 30px;
}

.product-detail__price .sale-percent {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: red !important;
}

.product-detail__features table tr td:first-child {
    width: 120px;
    padding: 5px 0;
}

.product-detail__size {
    margin-top: 20px;
}

.product-detail__size .size-title {
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
}

.product-detail__size button {
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

/* res */
.product-detail__buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-detail__buttons button {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
    width: 50%;
    padding: 10px;
}

.product-detail__buttons .buy-now-btn {
    background-color: black;
    border: 1px solid black;
    font-weight: 500;
    color: white !important;
}

.product-detail__buttons .buy-now-btn:hover {
    background-color: white;
    color: black !important;
    border: 2px solid black;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-detail__buttons .add-cart-btn {
    border: 2px solid black;
    margin-right: 20px;
}

.product-detail__buttons .add-cart-btn:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-detail__store .carousel-inner {
    height: 100px;
}

.product-detail__store-container {
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px;
}

.product-detail__store .store-info {
    display: flex;
    align-items: center;
}

.product-detail__store .store-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-detail__store .store-address .store-name {
    font-weight: 600;
    font-size: 18px;
    color: black !important;
}

.product-detail__store .store-address p, .store-policy p {
    margin-bottom: 0;
}

.product-detail__store .store-policy p {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.product-detail__store .store-btn button {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
    color: black !important;
    font-weight: 600;
}

.product-detail__store .store-btn button:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* --------------------- Relative product --------------------- */

/* res */
.relative-product {
    padding: 3% 7%;
}

/* res */
.relative-product-container {
    display: flex;
    align-items: center;
    max-width: 1500px;
}

.relative-product-slide-wrapper {
    width: 100%;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.relative-product-slide {
    display: flex;
    position: relative;
    transition: transform .35s linear;
}

.relative-product-slide-item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}

/* res */
.relative-product-item {
    margin: 0 5px;
}

.relative-product-item.card {
    border: none;
}

.relative-product-item .relative-product-img {
    position: relative;
}

.relative-product-item .sale-off-label {
    position: absolute;
    top: 0;
    left: 10px;
    border: 1px solid #e30001;
    width:40px;
    height: 50px;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    color: white !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e30001;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.relative-product-item .card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.relative-product-item .card-title {
    font-weight: 600;
}

.relative-product-container i {
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}


/* -------------- product detail body ----------------------- */

/* res */
.product-detail-body {
    padding: 0 7% 3%;
    display: flex;
}

/* res */
.product-detail-body__main-content {
    width: 80%;
    margin-right: 30px;
}

/* res */
.product-detail-body__sidebar {
    width: 20%;
    margin-left: 30px;

}

/* ----------------- product desc ----------------- */

.product-description .product-desc-container {
    padding: 10px;
}

.product-description .product-desc-container img {
    display: block;
    margin: 0 auto;
}

.product-description .product-desc-container h5 {
    margin-top: 30px;
    font-weight: 600;
}

.product-description .product-desc-container table tr td {
    border: 1px solid black;
    padding: 5px 5px;
}

.product-description .product-desc-container table tr td:first-child {
    font-weight: 600;
}

.product-description .product-desc-container table {
    width: 50%;
}

/* ------------------- faq --------------------------- */

.product-faq {
    padding: 3% 0;
}

/* -------------------- comment --------------------- */
.product-comment {
    padding: 3% 0;
}

.product-comment .rating-mark-number {
    font-size: 64px;
    color: red;
}

.product-comment .write-comment button {
    padding: 5px;
    background-color: white;
    margin: 20px auto;
    display: block;
}

.customer-comments {
    margin-top: 50px;
}

.customer-comments .customer-comment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.customer-comments .customer-comment-container img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.customer-comments .customer-comment-container .comment-time {
    font-size: 12px;
}

/* ---------------------- sidebar ------------------- */

.sidebar__relative-product {
    margin-bottom: 30px;
}

.sidebar__relative-product button {
    border: 1px solid #ccc;
    background-color: white;
    padding: 3px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sidebar__relative-product button:hover {
    border: 1px solid black;
}

.sidebar__similar-product .similar-product-card {
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebar__similar-product .similar-product-card img {
    width: 50%;
    margin-right: 10px;
}

.sidebar__similar-product .similar-product-card  .similar-product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__similar-product .similar-product-card .similar-product-brand {
    font-size: 12px;
}

.sidebar__similar-product .similar-product-card .similar-product-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    

}

.sidebar__similar-product .similar-product-card .similar-product-price {
    font-weight: 600;
    font-size: 16px;
}

/* ---------------------- other product ------------- */

.other-product {
    padding: 3% 7%;
}
