* {
    margin: 0;
    padding: 0;
    /* border: 0; */
    outline: none;
    box-sizing: border-box;
}

ul,
li {
    list-style: none !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

i {
    margin-right: 5px !important;
}



/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {

    .top-bar {
        background-color: yellow;
    }

    main {
        flex-wrap: wrap;
    }

    .topbar-right span {
        display: none;
    }

    .topbar-right li i {
        border: 0.5px solid black;
        padding: 5px;
    }

    /* footer */
    footer {
        background-color: black;
        color: white;
    }

    footer a {
        color: white !important;
    }

    .footer-content>div:nth-child(1) {
        display: grid !important;
        grid: auto / auto auto;
        padding: 2%;
    }

    .footer-content>.d-flex:nth-child(2) {
        border-top: 0.5px solid white;
    }

    /* main .one-banner */
    .one-banner .carousel-item img {
        display: block;
        height: 200px;
        min-width: 100%;
    }

    /* article-product */
    .article-product {
        border: 0.5px solid black;
    }


    /* brands */
    .brands img {
        display: block;
        width: 100%;
        height: auto;
    }

    .brands {
        margin: 5% 4%;
        position: relative;
    }

    .brands .carousel-control-prev {
        position: absolute;
        background-color: gray;
        top: 55%;
        left: -3%;
        width: 3%;
        height: 15%;

    }

    .brands .carousel-control-next {
        position: absolute;
        background-color: gray;
        top: 55%;
        right: -3%;
        width: 3%;
        height: 15%;
    }

    .brands .carousel-control-prev:hover,
    .brands .carousel-control-next:hover {
        background-color: black;
    }

    .brands h5 {
        text-align: center;
    }

    /* content-products */
    .content-products-item * {
        font-size: 10px !important;
    }

    .content-products .carousel {
        position: relative;
    }

    .content-products img {
        display: block;
        width: 100%;
        height: auto;
    }

    .content-products-item {
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        margin: 2%;
        padding: 1%;
    }

    .content-products .carousel-control-prev,
    .content-products .carousel-control-next {
        display: none;
    }

    .content-products .d-flex {
        display: grid !important;
        grid: auto / auto auto;
        padding: 1%;
    }

    .content-products .carousel-indicators {
        position: absolute;
        bottom: -4.5%;
        left: 29%;
        max-width: 15%;
    }

    .content-products .carousel-indicators button {
        background-color: black;
    }

    .selling-products,
    .new-arrivals,
    .promotional-products {
        margin: 7% 0;
    }


    /* two-banner */
    .two-banner {
        margin: 0 5%;
    }

    .two-banner .d-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .two-banner-item {
        position: relative;
        margin-bottom: 5%;
        width: 100%;
    }

    .two-banner-item>div {
        position: absolute;
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
        min-width: 50%;
        top: 70%;
        text-align: center;
        padding: 7%;
        left: 25%;
        color: white;
    }

    .two-banner-item>div a:hover {
        background-color: rgba(255, 255, 255, 1);
        padding: 6px;
        color: black !important;
        font-weight: 600;
    }

    .two-banner-item>div i {
        margin-left: 5px;
    }

    .two-banner-item a {
        color: white !important;
    }

    .two-banner-item img {
        width: 100%;
        display: block;
    }


    /* fashion-news */
    .fashion-news {
        margin: 2%;
    }

    .fashion-news img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .content-fashion-news>.d-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .fashion-news-item {
        border: 0.5px solid rgba(0, 0, 0, 0.6);
        padding: 1%;
        margin-top: 2%;

    }

    .fashion-news-item>div>a{
        font-size: 15px !important;
        font-weight: 600;
        width: 100%;
        display: block;
    }

    .fashion-news-item>div{
        margin: 3% 0 0;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .top-bar {
        background-color: green;
    }

    /* footer */
    footer {
        background-color: black;
        color: white;
    }

    footer a {
        color: white !important;
    }

    .footer-content>div:nth-child(1) {
        display: grid !important;
        grid: auto / auto auto auto;

    }

    .footer-content>.d-flex:nth-child(2) {
        border-top: 0.5px solid white;
        margin-top: 2%;
    }

    .footer-content>.d-flex:nth-child(2)>div:nth-child(2) {
        padding-right: 10px;
    }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .top-bar {
        background-color: red;
    }

    /* footer */
    footer {
        background-color: black;
        color: white;
    }

    footer a {
        color: white !important;
    }

    .footer-content>.d-flex:nth-child(2) {
        border-top: 0.5px solid white;
        margin-top: 2%;
    }

    .footer-content>.d-flex:nth-child(2)>div:nth-child(2) {
        padding-right: 10px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .top-bar {
        background-color: blue;
    }


    /* footer */
    footer {
        background-color: black;
        color: white;
        padding: 2% 2% 0%;
    }

    footer a {
        color: white !important;
    }

    .footer-content>.d-flex:nth-child(2) {
        border-top: 0.5px solid white;
        margin-top: 2%;
    }

    .footer-content>.d-flex:nth-child(2)>div:nth-child(2) {
        padding-right: 10px;
    }

    /* main */
    /* one-banner */
    .one-banner .carousel-item img {
        display: block;
        height: 550px;
        min-width: 100%;
    }

    .one-banner .carousel-control-prev:hover,
    .one-banner .carousel-control-next:hover {
        background-color: rgba(255, 255, 255, 0.2) !important;
    }

    /* article-product */
    .article-product {
        margin: 0 6% 5%;
    }


    /* brands */
    .brands img {
        display: block;
        width: 100%;
        height: auto;
    }

    .brands {
        margin: 2% 6%;
        position: relative;
    }

    .brands .carousel-control-prev {
        position: absolute;
        background-color: gray;
        top: 57%;
        left: -5%;
        width: 3%;
        height: 15%;
    }

    .brands .carousel-control-next {
        position: absolute;
        background-color: gray;
        top: 57%;
        right: -5%;
        width: 3%;
        height: 15%;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: black !important;
    }

    .brands h5 {
        text-align: center;
        padding: 2% 0 3%;
        font-size: 30px !important;
    }


    /* content-products */
    .content-products-item * {
        font-size: 14px !important;
    }

    .content-products .carousel {
        position: relative;
    }

    .content-products img {
        display: block;
        width: 100%;
        height: auto;
    }

    .carousel-item .d-flex {
        padding: 0.5%;
    }

    .content-products-item {
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        margin: 0.5%;
        padding: 1%;
    }

    .content-products-item:hover {
        border: 0.5px solid rgba(0, 0, 0, 0.6);
    }

    .content-products .carousel-control-prev {
        position: absolute;
        background-color: gray;
        top: 45%;
        left: -4%;
        width: 3%;
        height: 10%;
    }

    .content-products .carousel-control-next {
        position: absolute;
        background-color: gray;
        top: 45%;
        right: -4%;
        width: 3%;
        height: 10%;
    }

    .content-products .carousel-indicators {
        position: absolute;
        bottom: -8.5%;
    }

    .content-products .carousel-indicators button {
        background-color: black;
    }

    .selling-products,
    .new-arrivals,
    .promotional-products {
        margin: 4% 0;
    }

    /* two-banner */
    .two-banner {
        margin: 1% 1%;
    }

    .two-banner-item {
        position: relative;
        margin: 1%;
        max-width: 100%;
    }

    .two-banner-item>div {
        position: absolute;
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
        min-width: 50%;
        top: 70%;
        text-align: center;
        padding: 7%;
        left: 25%;
        color: white;
        cursor: pointer;
    }

    .two-banner-item>div a:hover {
        background-color: rgba(255, 255, 255, 1);
        padding: 6px;
        color: black !important;
        font-weight: 600;
    }

    .two-banner-item>div i {
        margin-left: 5px;
    }

    .two-banner-item a {
        color: white !important;
    }

    .two-banner-item img {
        width: 100%;
        height: 100%;
        display: block;
    }

    /* fashion-news */

    .fashion-news{

    }

    .fashion-news img {
        max-width: 100%;
        height: 70%;
        display: block;
    }

    .fashion-news img:hover {
        filter: invert(100%);
    }

    .content-fashion-news>.d-flex {
        padding: 0.5%;
    }

    .fashion-news-item {
        margin: 0.5%;
    }

    .fashion-news-item>a{
       
    }

    .fashion-news-item>div>a{
       font-size: 15px !important;
       font-weight: 600;
       width: 100%;
       display: block;
    }

    .fashion-news-item>div>a:hover{
        color: goldenrod !important;
    }

    .fashion-news-item>div{
        margin-top: 5%;
    }
}