
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

ul,
li {
    list-style: none !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

i {
    margin-right: 5px !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* topbar and nav-bar*/
/* .topbar-right a:hover,
.nav-item>a:hover  */
body a:hover {
    color: goldenrod !important;
}

.navbar a{
    color: white !important;
}

/* footer */
footer {
    background-color: black;
    color: white;
    padding: 2% 2% 0%;
}

footer a {
    color: white !important;
}

.footer-content>.d-flex:nth-child(2) {
    border-top: 0.5px solid white;
    margin-top: 2%;
}

.footer-content>.d-flex:nth-child(2)>div:nth-child(2) {
    padding-right: 10px;
}

