@charset "UTF-8";



#orderTable .order-id a, #orderTable .order-user-id {
    font-weight: bold;
    color: black !important;
}

#orderTable .order-btns button {
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
}

#orderTable .order-btns button:hover {
    background-color: black;
    color: white;
}

.pagination li a {
	color: black !important;
}

.active {
	color: white !important;
	background-color: black !important;
}

