* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-form-container {
    width: 50%;
    margin: 20px auto;
}

.register-btns {
    margin-top: 10%;
}

.register-btns button {
    margin: 10px 0;
    cursor: pointer;
    /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.sign-up-btn {
    width: 100%;
    background-color: #B99B6B;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 16px;
    color: white !important;
    text-transform: uppercase;
}

.sign-up-btn:hover {
    background-color: #F1DBBF;
    color: black !important;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.google-sign-up-btn, .facebook-sign-up-btn {
    width: 100%;
    border: 1px solid #B99B6B;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: white;
}

.google-sign-up-btn:hover, .facebook-sign-up-btn:hover {
    background-color: #F1DBBF;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.sign-in {
    text-align: center;
    margin-top: 50px;
}

.sign-in a {
    color: #B99B6B !important;
}

.sign-in a:hover {
    text-decoration: underline !important;
}